<div *ngIf="filtersLoaded | async">
  <div class="video-player-wrapper card">
      <h2>{{Video.title}}</h2>
      <vg-player class="card-body"  style="text-align: center;">
        
        
        <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" controls class="card"  >
          
          <source src= 'http://127.0.0.1:8000/{{Video.video_url}}' type="video/mp4">
          <vg-controls>
              <vg-volume></vg-volume>
          </vg-controls>
        
        </video>
      </vg-player>
      <div class="card-body">
        <p>{{Video.description}}</p>
        <p>{{Video.genre}}</p>
        
        <button class="btn btn-primary btn-xs" [routerLink] = "'/video/editVideo/' + videoId">Edit video</button>
      </div>
    <style>

    </style>
  </div>
</div>