<div class="container" *ngIf="filtersLoaded | async">
  <div class="video-player-wrapper card">
      <h2 class="card" style="size: auto;">{{Video.title}}</h2>
      <vg-player class="card-body"  style="text-align: center;">
        
        
        <video style="width: 100%    !important; height: auto   !important;" [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" controls   >
          
          <source src= 'http://127.0.0.1:8000/{{Video.video_url}}' type="video/mp4">
          <vg-controls>
              <vg-volume></vg-volume>
          </vg-controls>
        
        </video>
      </vg-player>
      <div class="card-body">
        <h1>
          Peržiūros
          {{Video.clicks}}  
          Reakcijos 
          <button type="button" class="btn btn-success btn-xs" (click)="onLike()">{{Video.likes}}</button> :
          <button type="button" class="btn btn-danger btn-xs" (click)="onDislike()">{{Video.dislikes}}</button>
        </h1>
        <p>{{Video.description}}</p>
        <p>{{Video.genre}}</p>
        
        <button class="btn btn-primary btn-xs" [routerLink] = "'/video/editVideo/' + videoId">Edit video</button>
      </div>
    <style>

    </style>
<!--<app-comments [videoId]="videoId"></app-comments>-->
    <app-comments [videoId]="videoId"></app-comments>
  </div>
</div>
