<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>About</h3>
                <p>
                    Hello to my little corner of the internet.
                    I am a student and created this free open source project for everyone to use.
                </p>
            </div>
            <div class="col-md-4">
                <h3>Contact</h3>
                <p>
                    <i class="fa fa-envelope"></i>
                    <a> BigBois </a>
            </div>
        </div>
    </div>
</footer>
