.navbar {
  overflow: hidden;
  background-color: darkblue;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid #bbb;
  border-color: black;
}
.navbar a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  .navbar img {
    margin-left: 10px;
    margin-top: -10px;
    width: 60px;
    height: 50px; 
    border-radius: 50%;
    
  }
    .navbar button {
    margin-right: 10px;
    margin-top: 5px;
    width: auto;
    text-align: left;
    height: 50px;
    }
    .topnav-right {
        float: right;
      }
