<div class="container">
    <div class="card inner-main">
      <div class="card-header">
        Mano paskyra
      </div>
      <div class="card-body" style="padding-left: 10%; padding-right: 10%;">
        <img src= 'http://127.0.0.1:8000/{{UserProfile?.avatar_url}}' width="500" height="333">
        <div class="container card">
          <p class="card-text">Slapyvardis: <strong>{{UserProfile?.username}}</strong></p>
          <p class="card-text">E-paštas: <strong>{{UserProfile?.email}}</strong></p>
          <p class="card-text">Vardas: <strong>{{UserProfile?.first_name}}</strong></p>
          <p class="card-text">Pavardė: <strong>{{UserProfile?.last_name}}</strong></p>
          <p class="card-text">Amžius: <strong>{{UserProfile?.age}}</strong></p>
          <p class="card-text">Šalis: <strong>{{UserProfile?.country}}</strong></p>
        </div>
        
      <p class="btn btn-dark btn-xs " type="button" [routerLink]="['/edit-profile']">Redaguoti profilį</p>

      </div>
    
        <button class="btn btn-primary btn-xs " type="button" [routerLink]="['/video/createVideo']">Kurti naują vaizdo įrašą</button>
        <br>
        <button class="btn btn-primary btn-xs " type="button" [routerLink]="['/video/userVideos']">Mano vaizdo įrašai</button>
        <br>
  
        <button class="btn btn-primary btn-xs " type="button" [routerLink]="['/viewUserReport']">Mano statistika</button>
        <br>
        <button class="btn btn-primary btn-xs " type="button" [routerLink]="['/user-genre-requests']">Mano prašymai</button>
    
        
      
      
      
      
    </div>
    
  </div>