<div *ngIf="showWindow">
<div class="container card">
    <h3 class="card-header bg-dark text-light">Sukurkite naują vaizdo įrašą</h3>
    <form class="card-body" [formGroup]="addVideoForm"  (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="title">Pavadinimas</label>
            <input type="text" formControlName="title" class="form-control"  />
        </div>
        
        <div class="form-group">
            <label for="video_url">Pasirinkite vaizdo įrašo failą</label>
            <br>
            <input formControlName="video_url" type="file" accept=".mp4,.mkv" id="video_url" class="form-control" (change)="onFileChange($event)">
            
        </div>

        <div class="form-group">
            <label for="thumbnail_url">Pasirinkite miniatiūros failą</label>
            <br>
            <input formControlName="thumbnail_url" type="file" accept=".jpg,.gif,.jpeg,.png" id="thumbnail_url" class="form-control" (change)="onThumbnailChange($event)">
            
        </div>

        <div class="form-group">
            <label for="description">Aprašymas</label>
            <input type="text" formControlName="description" class="form-control" />
        </div>

        <div class="form-group">
            <label for="genre">Žanras</label>

            <select formControlName="genre" class="form-control" (change)="onGenreChange($event)">  
                <option disabled>Pasirinkti žanrą</option>  
                <option *ngFor="let genre of GenreList" [value]="genre.id">{{genre.name}}</option>  
            </select>  
        </div>

        

        <br>
        <button class="btn btn-dark btn-xs " type="submit"><i class="bi bi-check-lg"></i> Sukurti</button>
        <button class="btn btn-dark btn-xs " type="button" [routerLink]="['/profile']"><i class="bi bi-arrow-return-left"></i> Grįžti</button>
        
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
    </form>
</div>
</div>