<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
    <form class="form-signin" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <h3 class="card-header h3 mb-3 font-weight-normal text-center">Registration</h3>
      
      <!-- Errors -->
      <div *ngIf="errors?.username" class="alert alert-danger mt-3">
        {{ errors?.username }}
      </div>
      <div *ngIf="errors?.email" class="alert alert-danger mt-3">
        {{ errors?.email }}
      </div>
      <div *ngIf="errors?.password" class="alert alert-danger mt-3">
        {{ errors?.password }}
      </div>
      <div *ngIf="errors?.password_confirmation" class="alert alert-danger mt-3">
        {{ errors?.password_confirmation }}
      </div>
      <!-- Signup form -->
      <div class="card-body ">
        <div class="form-group card-text" >
          <label>Username</label>
          <input type="text" class="form-control" formControlName="username" />
        </div>
        <div class="form-group card-text">
          <label>Email address</label>
          <input type="email" class="form-control" formControlName="email" />
        </div>
        <div class="form-group card-text">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password" />
        </div>
        <div class="form-group card-text">
          <label>Confirm Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="password_confirmation"
          />
        
      </div>
      <div class="form-group">
        <label for="avatar_url">File</label>
        <br>
        <input formControlName="avatar_url" type="file" id="avatar_url" (change)="onFileChange($event)">
      </div>
      <br>
      <button type="submit" class="btn btn-block btn-primary">
        Register User
      </button>
    </div>
    </form>
    </div>
  </div>